<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<style type="text/css">

    form{
        display: inline-block;
        width: 260px;
        border: 1px solid black;
    }
    input[type="submit"]{
        background: blue;
        color: white;
        border:none;
        float: right;
    }
    textarea{
        width: 230px;
        height: 50px;
    }
    div{
        margin: 10px 0 0 10px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function(){

        // $.get('/', function(res) {
        //     console.log();
        //     // $('#body').append(res);
        // });
        //data from form 
        $('form').submit(function(){

            $.post('/submit', $(this).serialize(), function(res) {
            // $('#body').html(res);
        });
          return false;
      });
    });
</script>
</head>
<body>
    <div id="wrapper">
        <form action="/submit" method="post">
            <div>
                <label for="name">Your Name:</label>
                <input type="text" name="first_name">
            </div>  
            <div>
                <label for="location">Dojo Location:</label>
                <select name="location">
                    <option>Los Angeles, CA</option>
                    <option>Seattle, WA</option>
                    <option>Dallas, TX</option>
                    <option>San Jose, CA</option>
                    <option>Chicago, IL</option>
                </select>
            </div>
            <div>
                <label for="language">Favorite Language:</label>
                <select name="language">
                    <option>Javascript</option>
                    <option>PHP</option>
                    <option>Ruby</option>
                    <option>Python</option>
                    <option>IO's</option>
                </select>
            </div>
            <div>
                <label for="comment">Comment (optional)</label>
                <textarea name="comment"></textarea>
                <input type="submit" value="Submit">
            </div>
        </form>
